
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
 body{
background: linear-gradient(0deg, white, #97C05C 100%);
}
 *{
    box-sizing: border-box;
  }
    
  h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }

  h2{
    font-size: 25px;
    text-decoration: dotted;
    text-align: center;
    margin: 40px 0px 25px 0px
  }
  
  h3{font-size: 18px;
  text-align: center;}

  p{font-size:140%;
  margin: 5px;}

body{
    margin: 0px;
    font-family:'Roboto' Arial, Helvetica, sans-serif;
    max-width: 100%;    
}


/* Portada */

.portada_img{object-fit:cover;
height: 500px;
width: fit-content;}  


/* inicio */

.row {display: -webkit-flex;
    display: flex;}

.container_map{margin-right: auto;
  margin-left: auto;
  width:500px;
  height:450px;}

.container_map iframe{width: 500px;
height: 450px;}

/* Quienes Somos */
.guias_img{width:80px;
   height:80px;}

.guias{text-align: center;}

.guias p{padding-left: 0;}

.col-3{
    width: 25px;
}
.column{
    -webkit-flex: 1;
    background-color: rgb(175, 241, 161);
    -ms-flex: 1;
    flex: 1;
    margin: 2px;
    margin-bottom: 30px;
    padding: 5px;
    height: auto;}

/* Contacto */

.container_redes{padding:30px 0px;
margin-left: 5%;}

.container_redes-log{height: 30px;
width: auto;}

.container_formulario{max-width: 450px;
  background-color:whitesmoke;
  padding: 8px 10px;
  border: 5px solid;
  border-radius: 3px;
  border-color: rgb(205, 205, 205);
  margin: 20px auto;}

.container_main{background-color: white;}
  
/* Nav */

.menu{background-color: #97C05C; 
max-width: 99%;}

#menu_button{color: white;
font-weight:500;
text-shadow: 1px 1px 1.5px #071E22 ;}

.menu_logo{height:24px;
  width:auto;
}
.menu_logo-text{font-weight: 600;
color: whitesmoke;
text-shadow: 1px 1px 1.5px #071E22;}

.nav-link{color:white;}



/* Gallery from W3S */

.gallery_row{display: flex;
flex-wrap: wrap;
padding: 0 4px;
width: 200%;}

.gallery_column{flex: 25%;
max-width: 25%;
padding: 0 4px;}

.gallery_column img{margin-top: 8px;
vertical-align: middle;
width: 100%;}

@media screen and (max-width: 800px) {
  .gallery_column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .gallery_column {
    flex: 100%;
    max-width: 100%;
  }
  .portada_img{height: 300px;}
}

.container_main p{padding: 0px 30px;}

/* Servicios */

.serv_carrousel1 img{
object-fit:cover;
height: 350px;
width:350px}
  
.act-img{object-fit: cover;
height: 300px;}

.container_btn-btn{ padding: 10px 20px;
background-color: #D5573B;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
width: 70%;
display: block;
margin: 50px auto;
height: 65px;
font-weight: bold;
font-size:25px;
transition: 0.9s;}

a:link{text-decoration: none;}


.container_btn-btn:hover {
  background-color: #2589BD;
}

.my-button:active {
  background-color: #1e86be;
}
