
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
 body{
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 9%, rgba(168,253,45,0.9220063025210083) 100%);
 }
 *{
    box-sizing: border-box;
  }
    
  h1{
    font-size: 22px;
  }
  h2{
    font-size: 18px;
    text-decoration: dotted;
  }
  h3{ font-size: 20px;
    

  }
  p{
    font-size:140%;
  }

body{
    margin: 10px;
    font-family:'Roboto' Arial, Helvetica, sans-serif;
    
}



/* inicio */

.row {display: -webkit-flex;
    display: flex;}

/*create trhee equal columns thats sits next to ech other*/
.col-3{
    width: 25px;
}
.column{
    -webkit-flex: 1;
    background-color: rgb(175, 241, 161);
    -ms-flex: 1;
      flex: 1;
      margin: 2px;
     padding: 10px;
     height: 300px;
} 


/* Portada */

.portada_img{object-fit:cover;
height: 45vw;}

.serv_carrousel1{max-height:45vw;}

/* Contacto */

.container_redes{padding:30px 0px;}

.container_redes-log{height: 3vw;
width: auto;}

.container_form{width:450px;
  background-color:whitesmoke;
  padding: 5px 10px;
  border: 10px;
  border-color: rgb(234, 234, 234);}

.container_main{background-color: white;}
  
/* Nav */

.menu{background-color: #97C05C;}
#menu_button{color: white;
font-weight:500;
text-shadow: 1px 1px 1.5px #071E22 ;}
.menu_logo{height:40px;
  width: 45px;
}
.menu_logo-text{font-weight: 600;
color: whitesmoke;
text-shadow: 1px 1px 1.5px #071E22;}

.nav-link{color:white;}

