
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
 body{
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 9%, rgba(168,253,45,0.9220063025210083) 100%);
 }
 *{
    box-sizing: border-box;
  }
    
  h1{
    font-family: ;
    font-size: 22px;
  }
  h2{
    font-family: ;
    font-size: 18px;
    text-decoration: dotted;
  }
  h3{ font-size: 20px;
    

  }
  p{
    font-size:12;
  }
/* .logo{
    width: 100px;
    align-content:center
} */
body{
    margin: 10px;
    font-family:'Roboto' Arial, Helvetica, sans-serif;
    
}

.container_main{font-size: 1.6vw;}


/* #logo{
    margin: 10px 5px;
    border:3px solid black ;
    padding: 7px; ;
} */
/* header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:center;
    height: 250px;
} */
.row {
    display: -webkit-flex;
    display: flex;
}

/*create trhee equal columns thats sits next to ech other*/
.col-3{
    width: 25px;
}
.column{
    -webkit-flex: 1;
    background-color: rgb(175, 241, 161);
    -ms-flex: 1;
      flex: 1;
      margin: 2px;
     padding: 10px;
     height: 300px;
} 

/* Portada */

.portada_img{object-fit:cover;
height: 45vw;}

.serv_carrousel1{max-height:45vw;}


